[program:MiskServer.py]
command=sudo python -m app
user=root
priority=1                                              ; the relative start pr$
autostart=true                                          ; start at supervisord $
autorestart=true                                        ; whether/when to resta$
startretries=30                                         ; max # of serial start$
